<% content_for :page_title do %>
  <%= t('oxxo.show_order') %>
<% end %>


<%= render :partial => 'spree/admin/shared/order_sub_menu' %>

<table class="index" id="listing_orders">
  <tr data-hook="admin_orders_index_headers">
    <th><%= t('oxxo.place') %></th>
    <th><%= t('oxxo.store') %></th>
    <th><%= t('oxxo.date') %></th>
    <th><%= t('oxxo.time') %></th>
    <th><%= t('oxxo.number') %></th>
    <th><%= t('oxxo.barcode') %></th>
    <th><%= t('oxxo.amount') %></th>
    <th data-hook="admin_orders_index_header_actions"></th>
  </tr>
  <% @orders.each do |order| %>
    <tr <%= "style='color: red;'" %> id="<%= dom_id order %>" data-hook="admin_orders_index_rows">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= order.number rescue '' %></td>
      <td><%= order.payment.barcode rescue '' %></td>
      <td><%= order.display_total rescue '' %></td>
      <td class="actions" data-hook="admin_orders_index_row_actions">
        <%= link_to "Edit", edit_admin_order_path(order), :class => 'edit' %>
      </td>
  </tr>
<% end %>
</table>
<script>
	$(".tab-with-icon:eq(2)").addClass("selected");
</script>
